@font-face {
    font-family: 'table';
    src: url('HKGrotesk-Regular.woff2');
}

@font-face {
    font-family: 'title';
    src: url('Adelphe-GerminalSemiBold.woff2');
}

body {
    background-color: #e8e8e8;
    margin: 0;
}

nav a {
    font-family: 'title';
    color: rgb(255, 255, 255);
    background-color: black;
    padding: 12px;
    margin: 0;
    text-decoration: none;
    font-weight: normal;
    font-size: 20px;
}

nav span  {
    font-family: 'title';
    background-color: #f7ff81;
    color: black;
    padding: 12px;
    font-size: 20px;
}

img {
    max-width: 100%;
    filter:grayscale(100%);
}

td:nth-child(3),
td:nth-child(4),
td:nth-child(5),
td:nth-child(6),
td:nth-child(7),
td:nth-child(8),
td:nth-child(9),
td:nth-child(10),
td:nth-child(13) {
    display: none;
}

nav {

    background-color: #e8e8e8;
    font-size: 16px;
    font-family: "table";
    display: flex;
}


table {
    border-collapse: collapse;
    line-height: 22px;
    font-family: 'table';
    font-size: 16px;
    table-layout:fixed;
    /* width: 100%; */
}

td {
    border: 1px black dotted;
    padding: 20px;
    height: 20px;
    overflow:hidden;
}

td:nth-child(1) {
    font-weight: 1000;
    text-transform: uppercase;
    font-size: 16px;
  
}

tr:nth-of-type(1) {
    font-weight: 1000;
    text-transform: uppercase;
    font-size: 16px;
    display: none;
}


tr:nth-child(2) td:nth-child(1)::before {
    content: 'Titre';
    font-family: 'title';
    text-decoration: underline solid 1px;
    text-transform: none;
    display: block;
    padding: 2% 0 20px 0;
}

tr:nth-child(2) td:nth-child(2)::before {
    content: 'Auteur·ice';
    font-family: 'title';
    text-decoration: underline solid 1px;
    text-transform: none;
    display: block;
    font-weight: 1000;
    padding-bottom: 20px;
    font-size: 16px;
    justify-content: end;
}

td:nth-child(2) {
    text-decoration: underline solid 1px;
}

tr:nth-child(2) td:nth-child(11)::before {
    content: 'Mots clés';
    font-family: 'title';
    text-decoration: underline solid 1px;
    text-transform: none;
    display: block;
    font-weight: 1000;
    padding-bottom: 20px;
    font-size: 16px;
}

td:nth-child(11) {
    text-transform: uppercase;
}



tr:nth-child(2) td:nth-child(12)::before {
    content: 'Visuel';
    font-family: 'title';
    text-decoration: underline solid 1px;
    text-transform: none;
    display: block;
    font-weight: 1000;
    padding-bottom: 20px;
    font-size: 16px;
}

tr:nth-child(2) td:nth-child(14)::before {
    font-family: 'title';
    content: 'Date';
    text-decoration: underline solid 1px;
    text-transform: none;
    display: block;
    font-weight: 1000;
    padding-bottom: 20px;
    font-size: 16px;
}

tr:nth-child(2) td:nth-child(15)::before {
    content: 'Notes';
    font-family: 'title';
    text-decoration: underline solid 1px;
    text-transform: none;
    display: block;
    font-weight: 1000;
    padding-bottom: 20px;
    font-size: 16px;
}

tr:nth-child(2) {
    vertical-align: top;
}

tr:nth-of-type(2n+1) {
    background-color: white;
}


tr:hover td:nth-child(12)  {
    background-color: aquamarine;  
}


tr:hover td:nth-child(12) img {
    mix-blend-mode:multiply; 
}

tr:hover {
    background-color: aquamarine; 
}

td p {
    width:10%;
    overflow-y: scroll;
}

td:nth-child(11) {
    font-size: 14px;
}

td:nth-child(12) {
    padding: 0;
    width: 250px;
}

tr:nth-child(2) td:nth-child(12) {
    padding: 20px 0 0 0;
    width: 250px;
}